<router-outlet></router-outlet>

<div class="blog">
  <ul class="posts">
    <li (click)="setSelectedPost(post)" *ngFor="let post of posts()">
      <div>
        <h3>{{post.title}}</h3>
      </div>
    </li>
  </ul>

  <div class="post">
    <ng-container *ngIf="selectedPost() != null">

      <h3>{{selectedPost()?.title}}</h3>
      <p>{{selectedPost()?.body}}</p>

    </ng-container>
    <ng-container *ngIf="selectedPost() == null">
      <h3>Click on a post to see the details</h3>
    </ng-container>
  </div>
</div>